{% extends 'base.html' %}
{% block title %} Post Yout Thoughts {% endblock %}

{% block content %}
<h1>Hello Everybody </h1>
<h2>Recent Posts:</h2><hr>
{% for post in post %}
  <div>

    <div style="border: 1px solid blue;">
        <h3>{{ post.post_title }}</h3>
        <p>{{ post.date_published }}</p>
        <p style="border: 1px solid blue; margin: 25px 50px;" >
        {{ post.post_content }}
      </p>
        <p> Posted By: {{ post.user_name }}</p>
        <p> Visit Profile: <a href="{{post.user_profile_link}}">{{post.user_profile_link}}</a></p>
    </div>
  </div><br>
{% endfor %}
{% endblock %}
